<<<<<<< HEAD:client/src/index.css
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
=======
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@400;700&display=swap");
>>>>>>> 75208aaecc57ec40af1907d84c5500ad8ae1ca4b:client/src/index.scss
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
