.main h1 {
  font-size: 4em;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  color: white;
  background: black;
  overflow: hidden;
}

.mainBackground {
  object-fit: cover;
  opacity: 0.4;
  height: auto;
  width: 100%;
}

.layout {
  position: absolute;
}
