.navbar {
  color: rgb(186, 7, 7) !important;
}
.navbarContent {
  margin: 0px 40px;
}

.navbar-brand {
  font-family: "Pacifico", cursive;
  color: rgb(186, 7, 7);
  font-size: 30px;
}

.nav-link {
  font-size: 18px;
}

.searchBar {
  padding: 5px 10px !important;
  border-radius: 50px;
  min-width: 500px;
}

.searchBtn {
  border-radius: 50px;
}

.dropdown {
  font-size: 18px;
}

.dropdown-toggle {
  color: rgb(186, 7, 7);
}

.search-result {
  position: absolute;
  z-index: 100;
  overflow: scroll;
  height: 518px;
  left: 50%;
  transform: translate(-50%);
}

.btn-nav {
  border-radius: 20px;
}

.sub-nav {
  margin-left: 4.5em;
}

.profile-icon {
  background-color: #ba0807;
  padding: 5px;
  color: white;
}
