.navbar {
  color: rgb(186, 7, 7) !important;
}

.navbar-brand {
  color: rgb(186, 7, 7);
  font-size: 30px;
}

.searchBar {
  border-radius: 50px;
  min-width: 500px;
}
.searchBtn {
  border-radius: 50px;
}

.dropdown-toggle {
  color: rgb(186, 7, 7);
}

.search-result {
  position: absolute;
  z-index: 100;
  overflow: scroll;
  height: 518px;
  left: 50%;
  transform: translate(-50%);
}
